* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-image: url('bg.jpg');

    nav {
        display: flex;
        margin-top: 24px;
        align-items: center;
        padding: 0 50px 0 50px;
        justify-content: center;

        .name {
            color: white;
            font-size: 32px;
        }

        input[type="checkbox"] {
            display: none;
        }
        .menu-btn i {
            display: none;
            color: white;
            font-size: 20px;
        }

        ul {
            height: 36px;
            display: flex;
            padding: 0 12px;
            align-items: center;
            border-radius: 20px;
            background-color: #444141;
            border: 1px solid #9a9494;

            li {
                list-style: none;

                a {
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 8px 12px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    transition: all 0.3s ease;

                    &:hover {
                        color: #fbbf24;
                    }
                }
            }
        }
    }

    .container {
        margin: 0 auto;
        padding: 0 16px;
        max-width: 1320px;

        .sub-container {
            padding: 200px 0;

            h1 {
                color: white;
                font-size: 48px;
    
                .bg-text {
                    background-image: url('text-bg.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-clip: text;
                    color: transparent;
                }
    
                .bg-text-2 {
                    background-image: url('text-bg-2.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-clip: text;
                    color: transparent;
                }
            }

            p {
                margin-top: 24px;
                color: #8b8686;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .btns {
                margin-top: 32px;
    
                .blog-btn {
                    height: 40px;
                    border: none;
                    color: black;
                    font-size: 16px;
                    padding: 8px 24px;
                    margin-right: 16px;
                    border-radius: 20px;
                    transition: all 0.3s ease;
                    background-color: #f59e0b;
    
                    &:hover {
                        background-color: #fbbf24;
                    }
                }
    
                .journey-btn {
                    height: 40px;
                    color: white;
                    font-size: 16px;
                    padding: 8px 24px;
                    border-radius: 20px;
                    border: 1px solid #f59e0b;
                    background-color: black;
                    transition: all 0.3s ease;
    
                    &:hover {
                        border-color: #fbbf24;
                    }
                }
            }
        }
    }

    .image-container {
        overflow: hidden;

        .image-slider {
            display: flex;
            gap: 16px;
            animation: slide 60s linear infinite;
        }

        img {
            width: 300px;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    @keyframes slide {
        from {
            transform: translateX(-70%);
        }
        to {
            transform: translateX(100%);
        }
    }

    @media (max-width: 920px) {
        nav {
            justify-content: end;
            border-radius: 0;
            .menu-btn i {
                display: block;
            }

            #click:checked ~ ul {
                left: 0;
            }

            #click:checked ~ .menu-btn i:before {
                content: "\f00d";
            }

            ul {
                top: 60px;
                left: -100%;
                width: 100%;
                height: 200px;
                border: none;
                gap: 24px;
                position: fixed;
                border-radius: 0;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                transition: all 0.3s ease;
                background-color: #444141;

                li {
                    a {
                        color: white;
                        font-size: 24px;
                        padding: 0;
                    }
                }
            }
        }
    }
}